<section id="about-me" class="section">
  <div class="container aboutme-container">
    <h2 class="visually-hidden">About me</h2>
    <ul class="aboutme-header">
      <li class="aboutme-header-item animated-element animation-scale">
        <h3 class="aboutme-header-title">
          I work with people all over the world to create impressive and
          <span class="accent">functional </span>
          <span class="aboutme-title-websites">websites </span> that reflect
          each client's unique personality.
        </h3>
      </li>
      <li class="aboutme-header-item thumb animated-element animation-scale">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about_me/about_me_photo_1x.webp 1x,
              ./img/about_me/about_me_photo_2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about_me/about_me_photo_mobile_1x.webp 1x,
              ./img/about_me/about_me_photo_mobile_2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="aboutme-header-img"
            src="./img/about_me/about_me_photo_mobile_1x.webp"
            loading="lazy"
            alt="Lloyd Jefferson"
          />
        </picture>
      </li>
    </ul>

    <ul class="aboutme-accordion-container">
      <li class="aboutme-accordion-item">
        <h3 class="aboutme-accordion-trigger aboutme-item-header">
          About me
          <button
            type="button"
            class="aboutme-accordion-btn"
            aria-label="Open about-me information"
          >
            <svg class="aboutme-item-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>

        <div class="aboutme-accordion-panel">
          <p class="aboutme-item-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="aboutme-item-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="aboutme-accordion-item">
        <h3 class="aboutme-accordion-trigger aboutme-item-header">
          Role
          <button
            type="button"
            class="aboutme-accordion-btn"
            aria-label="Open roles information"
          >
            <svg class="aboutme-item-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>

        <ul class="aboutme-accordion-panel aboutme-item-list">
          <li class="aboutme-item-text">Frontend development</li>
          <li class="aboutme-item-text">HeadlessCMS,Wordpress</li>
          <li class="aboutme-item-text">Blender(enjoy)</li>
        </ul>
      </li>

      <li class="aboutme-accordion-item">
        <h3 class="aboutme-accordion-trigger aboutme-item-header">
          Education
          <button
            type="button"
            class="aboutme-accordion-btn"
            aria-label="Open Education information"
          >
            <svg class="aboutme-item-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>

        <ul class="aboutme-accordion-panel aboutme-item-list">
          <li class="aboutme-item-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="aboutme-item-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="aboutme-item-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </li>
    </ul>

    <div class="aboutme-swiper-container">
      <div class="aboutme-swiper">
        <ul
          class="swiper-wrapper aboutme-swiper-wrapper animated-element animation-left"
        >
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">HTML/CSS</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">JavaScript</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">React</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">Node.js</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">React Native</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">Soft skills</div>
          </li>

          <!-- for infinity loop -->
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">HTML/CSS</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">JavaScript</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">React</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">Node.js</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">React Native</div>
          </li>
          <li class="swiper-slide aboutme-swiper-slide">
            <div class="aboutme-slide">Soft skills</div>
          </li>
        </ul>
      </div>
      <button type="button" aria-label="Swipe the slider">
        <svg class="aboutme-slide-next">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
