<section class="section benefits-section" id="benefits">
  <div class="container benefits-main-container">
    <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
    <div class="benefits-container">
      <ul class="benefits-list">
        <li class="benefits-item animated-element animation-scale">
          <div class="benefits-icon-box">
            <svg class="benefits-icon" width="24" height="24" aria-label="Author expertise icon">
              <use href="/img/icons.svg#icon-user"></use>
            </svg>
          </div>
          <h3 class="benefits-subtitle">Expertise</h3>
          <p class="benefits-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
          <p class="benefits-text-more">
            As an experienced developer, I've leveraged my deep understanding of
            programming and web development to architect robust, scalable web
            applications for diverse clients. From optimizing backend databases
            to crafting elegant frontend interfaces, I've consistently delivered
            high-quality solutions that meet both technical requirements and
            user expectations.
          </p>
        </li>
        <li class="benefits-item animated-element animation-scale">
          <div class="benefits-icon-box">
            <svg class="benefits-icon" width="24" height="24" aria-label="Communication skills icon">
              <use href="/img/icons.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
          <h3 class="benefits-subtitle">Communication</h3>
          <p class="benefits-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
          <p class="benefits-text-more">
            In my role, I've effectively communicated with stakeholders to grasp
            their requirements, ensuring their needs and preferences are
            prioritized throughout the development process. I've fostered an
            environment of open dialogue and receptiveness to feedback,
            facilitating productive discussions and swift corrections to align
            projects with clients' expectations.
          </p>
        </li>
        <li class="benefits-item animated-element animation-scale">
          <div class="benefits-icon-box">
            <svg class="benefits-icon" width="24" height="24" aria-label="Creativity skill icon">
              <use href="/img/icons.svg#icon-brush"></use>
            </svg>
          </div>
          <h3 class="benefits-subtitle">Art</h3>
          <p class="benefits-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
          <p class="benefits-text-more">
            With my innate creativity, I've tackled complex problems head-on,
            devising innovative solutions to overcome challenges and actualize
            clients' visions into tangible products. Whether it's brainstorming
            unique features or designing captivating user experiences, I've
            consistently applied my creative skills to breathe life into ideas
            and deliver exceptional outcomes.
          </p>
        </li>
        <li class="benefits-item animated-element animation-scale">
          <div class="benefits-icon-box">
            <svg class="benefits-icon" width="24" height="24" aria-label="Urgent execution icon">
              <use href="/img/icons.svg#icon-hourglass"></use>
            </svg>
          </div>
          <h3 class="benefits-subtitle">Urgent execution</h3>
          <p class="benefits-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
          <p class="benefits-text-more">
            Recognizing the significance of time in project delivery, I've honed
            my ability to work swiftly and effectively while upholding high
            standards of quality. By streamlining workflows and optimizing
            processes, I've consistently met deadlines without compromising the
            excellence of the final deliverables.
          </p>
        </li>
      </ul>
        <a class="benefits-link" href="#work-together">Order the project</a>
    </div>

    <div class="benefits-modal">
      <div class="modal--content">
        <button
          type="button"
          class="close-menu close-benefits-btn"
          aria-label="Close menu"
        >
          <svg
            class="close-menu-icon close-benefits-icon"
            width="28"
            height="28"
          >
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal--benefits"></div>
      </div>
    </div>
  </div>
</section>
