<section class="section section-cover">
  <div class="container covers-container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/first_screen_1_1x.webp"
              alt="read journey"
              srcset="./img/covers/first_screen_1_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_4_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_4_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_5_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_5_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_6_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_6_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_7_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_7_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_8_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_8_2x.webp 2x"
              class="covers-img"
            />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture>
              <source
                srcset="
                  ./img/covers/first_screen_1_1x.webp 1x,
                  ./img/covers/first_screen_1_2x.webp 2x
                "
                type="image/webp"
              />
              <img
                src="./img/covers/first_screen_1_1x.webp"
                alt="Starlight Studio"
                class="covers-img"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_9_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_9_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_10_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_10_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_11_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_11_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_12_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_12_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_4_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_4_2x.webp 2x"
              class="covers-img"
            />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_5_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_5_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_6_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_6_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_7_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_7_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_8_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_8_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_9_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_9_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_10_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_10_2x.webp 2x"
              class="covers-img"
            />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_10_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_10_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_11_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_11_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_12_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_12_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/first_screen_1_1x.webp"
              alt="read journey"
              srcset="./img/covers/first_screen_1_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_4_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_4_2x.webp 2x"
              class="covers-img"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_5_1x.webp"
              alt="read journey"
              srcset="./img/covers/rectangle_5_2x.webp 2x"
              class="covers-img"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
