<section class="section">
  <div class="container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img src="./img/covers/rectangle_10_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_11_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_12_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_4_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_5_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_6_1x.webp" />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img src="./img/covers/rectangle_7_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_8_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_9_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_7_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_8_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_9_1x.webp" />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img src="./img/covers/rectangle_10_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_11_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_12_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_4_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_5_1x.webp" />
          </li>
          <li class="marquee-line">
            <img src="./img/covers/rectangle_6_1x.webp" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
