<section class="section section-cover">
  <h2 class="visually-hidden">Covers</h2>
  <div class="container covers-container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/first_screen_1_1x.webp"
              alt="Starlight Studio"
              srcset="
                ./img/covers/first_screen_1_1x.webp 1x,
                ./img/covers/first_screen_1_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_4_1x.webp"
              alt="Energy Flow"
              srcset="
                ./img/covers/rectangle_4_1x.webp 1x,
                ./img/covers/rectangle_4_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_5_1x.webp"
              alt="Fruitbox"
              srcset="
                ./img/covers/rectangle_5_1x.webp 1x,
                ./img/covers/rectangle_5_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_6_1x.webp"
              alt="Chego"
              srcset="
                ./img/covers/rectangle_6_1x.webp 1x,
                ./img/covers/rectangle_6_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="
              ./img/covers/rectangle_7_1x.webp"
              alt="Mimino"
              srcset="
                ./img/covers/rectangle_7_1x.webp 1x,
                ./img/covers/rectangle_7_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_8_1x.webp"
              alt="Vyshyvanka"
              srcset="
                ./img/covers/rectangle_8_1x.webp 1x,
                ./img/covers/rectangle_8_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/first_screen_1_1x.webp"
              alt="Starlight Studio"
              srcset="
                ./img/covers/first_screen_1_1x.webp 1x,
                ./img/covers/first_screen_1_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_9_1x.webp"
              alt="Green Harvest"
              srcset="
                ./img/covers/rectangle_9_1x.webp 1x,
                ./img/covers/rectangle_9_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_10_1x.webp"
              alt="Power Pulse"
              srcset="
                ./img/covers/rectangle_10_1x.webp 1x,
                ./img/covers/rectangle_10_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_11_1x.webp"
              alt="Wallet"
              srcset="
                ./img/covers/rectangle_11_1x.webp 1x,
                ./img/covers/rectangle_11_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_12_1x.webp"
              alt="English Excellence"
              srcset="
                ./img/covers/rectangle_12_1x.webp 1x,
                ./img/covers/rectangle_12_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_4_1x.webp"
              alt="Energy Flow"
              srcset="
                ./img/covers/rectangle_4_1x.webp 1x,
                ./img/covers/rectangle_4_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_5_1x.webp"
              alt="Fruitbox"
              srcset="
                ./img/covers/rectangle_5_1x.webp 1x,
                ./img/covers/rectangle_5_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_6_1x.webp"
              alt="Chego"
              srcset="
                ./img/covers/rectangle_6_1x.webp 1x,
                ./img/covers/rectangle_6_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_7_1x.webp"
              alt="Mimino"
              srcset="
                ./img/covers/rectangle_7_1x.webp 1x,
                ./img/covers/rectangle_7_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_8_1x.webp"
              alt="Vyshyvanka"
              srcset="
                ./img/covers/rectangle_8_1x.webp 1x,
                ./img/covers/rectangle_8_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_9_1x.webp"
              alt="Green Harvest"
              srcset="
                ./img/covers/rectangle_9_1x.webp 1x,
                ./img/covers/rectangle_9_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_10_1x.webp"
              alt="Power Pulse"
              srcset="
                ./img/covers/rectangle_10_1x.webp 1x,
                ./img/covers/rectangle_10_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_10_1x.webp"
              alt="Power Pulse"
              srcset="
                ./img/covers/rectangle_10_1x.webp 1x,
                ./img/covers/rectangle_10_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_11_1x.webp"
              alt="Wallet"
              srcset="
                ./img/covers/rectangle_11_1x.webp 1x,
                ./img/covers/rectangle_11_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_12_1x.webp"
              alt="English Excellence"
              srcset="
                ./img/covers/rectangle_12_1x.webp 1x,
                ./img/covers/rectangle_12_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/first_screen_1_1x.webp"
              alt="Starlight Studio"
              srcset="
                ./img/covers/first_screen_1_1x.webp 1x,
                ./img/covers/first_screen_1_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_4_1x.webp"
              alt="Energy Flow"
              srcset="
                ./img/covers/rectangle_4_1x.webp 1x,
                ./img/covers/rectangle_4_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
          <li class="marquee-line">
            <img
              src="./img/covers/rectangle_5_1x.webp"
              alt="Fruitbox"
              srcset="
                ./img/covers/rectangle_5_1x.webp 1x,
                ./img/covers/rectangle_5_2x.webp 2x
              "
              class="covers-img"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
