<header class="header">
  <div class="container">
    <!-- <p>Header</p> -->
    <nav class="header-nav">
      <div class="logo-box">
        <a class="header-logo" href="../index.html">
          <img src="../img/logo_photo/logo_photo_1x.webp" alt="logo-photo" />
          <svg class="header-icon" width="" height="">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <div class="menu">
        <p>Menu</p>

        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="">About me</a>
          </li>
          <li class="menu-list-item">
            <a href="">Benefits</a>
          </li>
          <li class="menu-list-item">
            <a href="">Projects</a>
          </li>
          <li class="menu-list-item">
            <a href="">FAQ</a>
          </li>
        </ul>
      </div>
      <a href="" class="order-project-link">Order the project</a>
    </nav>
  </div>
</header>
