<header class="header">
  <div class="container">
    <!-- <p>Header</p> -->
    <nav class="header-nav">
      <div class="logo-box">
        <a class="header-logo" href="../index.html">
          <img
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="logo-photo"
            width="80"
            height="80"
          />
          <svg class="header-icon" width="84" height="19">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <div class="menu">
        <p>Menu</p>

        <ul class="menu-list visually-hidden">
          <li class="menu-list-item">
            <a href="">About me</a>
          </li>
          <li class="menu-list-item">
            <a href="">Benefits</a>
          </li>
          <li class="menu-list-item">
            <a href="">Projects</a>
          </li>
          <li class="menu-list-item">
            <a href="">FAQ</a>
          </li>
        </ul>
      </div>

      <a href="" class="order-project-link">Order the project</a>

      <!-- Mobile burger menu  -->
      <button type="button" class="open-mobile-menu">
        <svg class="open-menu-btn">
          <use href="../img/icons.svg#"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
