<header class="header">
  <div class="container header-container">
    <!-- <p>Header</p> -->
    <nav class="header-nav">
      <div class="logo-box">
        <img
          class="logo-photo"
          src="../img/logo_photo/logo_photo_1x.webp"
          alt="logo-photo"
          width="80"
          height="80"
        />
        <a class="header-logo" href="../index.html">
          <svg class="header-icon" width="84" height="19">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <div class="menu">
        <p class="menu-title">Menu</p>

        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="">About me</a>
          </li>
          <li class="menu-list-item">
            <a href="">Benefits</a>
          </li>
          <li class="menu-list-item">
            <a href="">Projects</a>
          </li>
          <li class="menu-list-item">
            <a href="">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="order-project-btn">
        <a href="" class="order-project-link">Order the project</a>
      </div>

      <!-- Mobile burger menu  -->
      <button type="button" class="open-mobile-menu" aria-label="Open menu">
        <svg class="open-menu-icon" width="28" height="28">
          <use href="../img/icons.svg#icon-mobile-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
