<section class="section hero-section">
  <div class="container hero-container">
    <h1 class="hero-name">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
      </li>
      <li class="hero-social-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
      </li>
      <li class="hero-social-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
      </li>
      <li class="hero-social-item">
        <a
          href="https://github.com/Serhii-Ivanchenko/js-project-team-07"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="hero-social-item hero-email">
        <a href="mailto:lloydjefferson@gmail.com" target="_blank"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
