<section id="projects" class="section projects-section">
  <div class="container">
    <h2 class="section-title">Projects</h2>
    <div class="projects-swiper-container swiper-container">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/Serhii-Ivanchenko/js-project-team-07"
              class="projects-slide-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-dark-side">
            <img
              src="./img/projects/projects_1_1x.webp"
              srcset="./img/projects/projects_1_2x.webp 2x"
              alt="read journey"
              class="projects-img"
              loading="lazy"
            />
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/Serhii-Ivanchenko/js-project-team-07"
              class="projects-slide-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-dark-side">
              <img
                src="./img/projects/projects_2_1x.webp"
                srcset="./img/projects/projects_2_2x.webp 2x"
                alt="petlove"
                class="projects-img"
                loading="lazy"
              />
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-white-side">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/Serhii-Ivanchenko/js-project-team-07"
              class="projects-slide-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-dark-side">
              <img
                src="./img/projects/projects_3_1x.webp"
                srcset="./img/projects/projects_3_2x.webp 2x"
                alt="Vocabuilder"
                class="projects-img"
                loading="lazy"
              />
          </div>
        </li>
      </ul>
      <div class="projects-button-wrapper">
        <button type="button" class="projects-button-prev" aria-label="Swipe to the previous slide">
          <svg class="projects-button-icon">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="projects-button-next" aria-label="Swipe to the next slide">
          <svg class="projects-button-icon">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
