<section class="section">
<div class="container">
    <div class="rewiews-conteiher">
        <h2 class="rewiews-title">REVIEWS</h2>
        <div class="rewiews-list-div">
            <ul class="reviews-list">
                <li class="rewiews-list-element">
                    <div class="img-div"><img class="rewiews-img" height="640" src="" alt="Ivetta"></div>
                    
                    <h3 class="rewiew-element-title">Ivetta</h3>
                    <p class="rewiews-text">Thanks for the excellent work on the project! His talent and professionalism deserve recognition. I recommend it to everyone who is looking for an expert in the field of software development.</p>
                </li>
                <li class="rewiews-list-element">
                    <div class="img-div"><img class="rewiews-img" height="640" src="" alt="Ivetta"></div>
                    
                    <h3 class="rewiew-element-title">Ivetta</h3>
                    <p class="rewiews-text">Thanks for the excellent work on the project! His talent and professionalism deserve recognition. I recommend it to everyone who is looking for an expert in the field of software development.</p>
                </li>
                <!-- <li class="rewiews-list-element">
                    <div class="img-div"><img class="rewiews-img" height="640" src="" alt="Ivetta"></div>
                    
                    <h3 class="rewiew-element-title">Ivetta</h3>
                    <p class="rewiews-text">Thanks for the excellent work on the project! His talent and professionalism deserve recognition. I recommend it to everyone who is looking for an expert in the field of software development.</p>
                </li>
                <li class="rewiews-list-element">
                    <div class="img-div"><img class="rewiews-img" height="640" src="" alt="Ivetta"></div>
                    
                    <h3 class="rewiew-element-title">Ivetta</h3>
                    <p class="rewiews-text">Thanks for the excellent work on the project! His talent and professionalism deserve recognition. I recommend it to everyone who is looking for an expert in the field of software development.</p>
                </li> -->
            </ul>
        </div>
        <div class="rewiews-button-div">
            <button class="rewiews-button forward-button">
                <svg class="rewiews-button-icon"></svg>><use href="/src/img/icons.svg#con-arrow-left"></use></svg>
            </button>
            <button class="rewiews-button back-button">
                <svg class="rewiews-button-icon"><use href="./img/icons.svg#icon-arrow-right"></use></svg>
                </button>
        </div>
    </div>
</div>
</section>