<section class="section reviews-section">
  <div class="container">
    <h2 class="rewiews-title">REVIEWS</h2>
    <div class="rewiews-list-wrapper swiper-container">
      <ul class="reviews-list swiper-wrapper">
        <!-- <li class="rewiews-list-element swiper-slide">
          <img
            class="rewiews-img"
            width="48px"
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="Ivetta"
          />
          <h3 class="rewiew-element-title">Ivetta</h3>
          <p class="rewiews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>

        <li class="rewiews-list-element swiper-slide">
          <img
            class="rewiews-img"
            width="48px"
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="Ivetta"
          />
          <h3 class="rewiew-element-title">Ivetta</h3>
          <p class="rewiews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>

       <li class="rewiews-list-element swiper-slide">
          <img
            class="rewiews-img"
            width="48px"
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="Ivetta"
          />
          <h3 class="rewiew-element-title">Ivetta</h3>
          <p class="rewiews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>

        <li class="rewiews-list-element swiper-slide">
          <img
            class="rewiews-img"
            width="48px"
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="Ivetta"
          />
          <h3 class="rewiew-element-title">Ivetta</h3>
          <p class="rewiews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>

        <li class="rewiews-list-element swiper-slide">
          <img
            class="rewiews-img"
            width="48px"
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="Ivetta"
          />
          <h3 class="rewiew-element-title">Ivetta</h3>
          <p class="rewiews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>

        <li class="rewiews-list-element swiper-slide">
          <img
            class="rewiews-img"
            width="48px"
            src="../img/logo_photo/logo_photo_1x.webp"
            alt="Ivetta"
          />
          <h3 class="rewiew-element-title">Ivetta</h3>
          <p class="rewiews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li> -->
      </ul>

      <div class="rewiews-button-wrapper">
        <button type="button" class="rewiews-button-prev">
          <svg class="rewiews-button-icon">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="rewiews-button-next">
          <svg class="rewiews-button-icon">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
