<section class="section reviews-section">
  <div class="container">
    <h2 class="rewiews-title">REVIEWS</h2>
    <div class="rewiews-list-wrapper swiper-container animated-element animation-scale">
      <ul class="reviews-list swiper-wrapper">
        
      </ul>

      <div class="rewiews-button-wrapper">
        <button type="button" class="rewiews-button-prev" aria-label="Swipe to the previous slide">
          <svg class="rewiews-button-icon">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="rewiews-button-next" aria-label="Swipe to the next slide">
          <svg class="rewiews-button-icon">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
