.aboutme-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.aboutme-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aboutme-header-item {
  width: 343px;
  height: 500px;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 24px;
  background: #242527;
}

.aboutme-header-item.thumb {
  padding: 0;
  overflow: hidden;
}

.aboutme-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutme-header-title {
  color: #fafafa;
  font-size: 24px;
  font-weight: 500;
  line-height: 116.7%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .aboutme-container {
    gap: 64px;
  }

  .aboutme-header-item {
    width: 704px;
    height: 700px;
  }

  .aboutme-header-title {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .aboutme-header-title {
    font-size: 38px;
  }
}

@media only screen and (min-width: 1440px) {
  .aboutme-container {
    gap: 96px;
  }

  .aboutme-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .aboutme-header-item {
    width: 680px;
    height: 700px;
  }
}

.aboutme-title-websites {
  color: rgba(250, 250, 250, 0.4);
}

@media only screen and (min-width: 768px) {
  .aboutme-title {
    font-size: 38px;
  }

  .aboutme-header-img {
    width: 704px;
    height: 700px;
  }
}

.aboutme-accordion-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .aboutme-accordion-container {
    gap: 32px;
  }
}

.aboutme-item {
  border-bottom: 1px solid #3b3b3b;
}

.aboutme-item:last-child {
  margin-bottom: 8px;
}

.aboutme-item-header {
  display: flex;
  justify-content: space-between;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 300ms ease-in-out;
}

.aboutme-item-header:hover {
  background-color: #242527;
}

.aboutme-accordion-btn {
  width: 42px;
  height: 42px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.aboutme-accordion-btn:hover,
.aboutme-accordion-btn:focus {
  border: 1px solid #fff;
  transform: scale(1.1);
}

.aboutme-item-icon {
  fill: none;
  stroke: white;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aboutme-accordion-panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .aboutme-accordion-panel {
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .aboutme-accordion-panel {
    gap: 32px;
  }
}

.aboutme-item-list {
  gap: 10px;
}

.aboutme-item-text {
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1440px) {
  .aboutme-item-text {
    width: 612px;
    margin-left: 696px;
  }
}

/* SWIPER */
/* #region: Swiper -----------------------*/
.aboutme-swiper-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  /* flex-shrink: 0; */

  min-width: 0;
}

.swiper-wrapper.aboutme-swiper-wrapper.animated-element.animation-left {
  transform: translateX(1000px);
  transition: opacity 3s, transform 3s;
}

.swiper-wrapper.aboutme-swiper-wrapper.animated-element.animation-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.aboutme-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 260px;
  min-width: 0;
  /* margin-right: 55px; */
}

.aboutme-swiper-wrapper {
  display: flex;
  min-width: 0;
  width: 260px;
}

.aboutme-slide {
  width: 130px;
  height: 130px;

  display: flex;
  flex-shrink: 0;

  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  justify-content: center;
  align-items: center;

  color: #fafafa;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.swiper-slide-active > .aboutme-slide {
  background-color: #ed3b44;
}

.aboutme-slide-next {
  width: 28px;
  height: 28px;
  fill: none;
  cursor: pointer;
  stroke: #3b3b3b;
  /* stroke: yellow; */
  z-index: 999;
}

@media only screen and (min-width: 768px) {
  .aboutme-swiper-container {
    width: 704px;
  }
  .aboutme-swiper {
    width: 600px;
    /* margin-right: 64px; */
  }

  .aboutme-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }

  .aboutme-slide-next {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .aboutme-swiper-container {
    width: 1312px;
  }
  /* .swiper, */
  .aboutme-swiper {
    width: 1200px;
    /* margin-right: 72px; */
  }
}
/* #endregion: facking.SWIPER -------------------- */

/* #region: accordion --------------------*/
.aboutme-accordion-item.js-enabled .aboutme-accordion-panel {
  visibility: hidden;
}

.aboutme-accordion-item.is-active .aboutme-accordion-panel {
  visibility: visible;
}

.aboutme-accordion-item .aboutme-accordion-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}
/* #endregion: accordion --------------------*/
