.benefits-section {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.02em;
    position: relative;

    &.visibleModal {
        .benefits-modal {
            display: block;
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 0;
            background-color: #383434be;
            width: 100%;
            height: 100%;
        }
    }
}

.benefits-modal {
    display: none;
}

.modal--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 24px;
    background: #242527;
    padding: 25px;
}

.benefits-main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.benefits-title {
    color: rgba(250, 250, 250, 0.40);
    font-weight: 600;
    line-height: 1.5;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
}

.benefits-item {
    display: flex;
    max-width: 344px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 20px;
    background: #242527;
}

@media screen and (min-width: 1440px) {
    .benefits-container {
        margin-left: auto;
        width: 704px;
    }
}

.benefits-icon-box {
    padding: 12px;
    margin-bottom: 64px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: #ED3B44;
}

.benefits-icon {
    fill: none;
    stroke: rgba(250, 250, 250, 1);
}

.benefits-subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;

    color: #FAFAFA;

    margin-bottom: 8px;
}

.benefits-text-more {
    display: none;
}

.benefits-visible {
    display: block;
    margin-top: 20px;
}

.benefits-item {
    line-height: 1.5;
    color: rgba(250, 250, 250, 0.60);

    transition: transform 300ms ease-in-out;
}

.benefits-item:hover,
.benefits-item:focus,
.benefits-link-box:hover,
.benefits-link-box:focus {
    /* Збільшуємо картку при наведенні або фокусі */
    transform: scale(1.05);
    cursor: pointer;
}

.benefits-link {
    display: flex;
    width: 187px;
    height: 55px;
    padding: 17px 35px;
    justify-content: center;
    align-items: center;

    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);

    transition: border 300ms ease-in-out, transform 300ms ease-in-out;
}

.benefits-link:hover,
.benefits-link:focus {
    border: 1px solid #FAFAFA;
}

.close-menu {
    transition: rotate 300ms ease-in-out, transform 300ms ease-in-out;
}

.close-menu:hover,
.close-menu:focus {
    rotate: 180deg;
    transform: scale(1.1);
}