.covers-container {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../img/covers/covers-bg_1x.webp);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .covers-container {
    background-image: url(../img/covers/covers-bg_2x.webp);
  }
}

.content {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  height: 508px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .content {
    min-width: 768px;
    height: 960px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    min-width: 1440px;
  }
}

.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  transform: rotate(17deg);
  margin-bottom: 50px;
}

.section-cover .marquee-line {
  flex-shrink: 0;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.covers-img {
  width: 282px;
  height: 163px;
  transition: transform 0.3s ease-in-out;
}

.covers-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .covers-img {
    width: 544px;
    height: 314px;
  }
}


.marquee-inner:nth-child(odd) .marquee-line {
  animation-name: marqueeLineRight;
}

.marquee-inner:nth-child(even) .marquee-line {
  animation-name: marqueeLineLeft;
}

.marquee-inner:nth-child(1) .marquee-line {
  animation-delay: -2s;
}

.marquee-inner:nth-child(2) .marquee-line {
  animation-delay: -1s;
}

.marquee-inner:nth-child(3) .marquee-line {
  animation-delay: -3s;
}

.marquee-inner:nth-child(4) .marquee-line {
  animation-delay: 0s;
}

@keyframes marqueeLineRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}

@keyframes marqueeLineLeft {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0%);
  }
}
