.covers-container {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.content {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  /* max-width: 375px; */
  height: 508px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .content {
    min-width: 768px;
    height: 960px;
  }
}
@media screen and (min-width: 1440px) {
  .content {
    min-width: 1440px;
  }
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  transform: rotate(17deg);
  margin-bottom: 40px;
}

.marquee-line {
  flex-shrink: 0;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: calc(100% / 8); */
  /* width: 282px; */
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* @media screen and (min-width: 768px) {
  .marquee-line {
    width: 544px;
  }
} */

.covers-img {
  width: 282px;
  height: 163px;
}

@media only screen and (min-width: 768px) {
  .covers-img {
    width: 544px;
    height: 314px;
  }
}

@keyframes marqueeLine {
  from {
    transform: translateX(-10%);
  }

  to {
    transform: translateX(-300%);
  }
}
