/* Ul/li */
.faq-items {
  padding-top: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

@media only screen and (min-width: 768px) {
  .faq-item {
    padding-top: 32px;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .faq-items {
    display: flex;
  }

  .column {
    flex: 1;
  }

  .faq-items-lines {
    border-left: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-items-lines > .faq-item {
    padding-left: 32px;
  }
  .column > .faq-item {
    padding-right: 32px;
  }
}
/* Title */
.faq-title {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;
  padding-bottom: 16px;
  max-width: 290px;
  min-width: 208px;
}
@media only screen and (min-width: 768px) {
  .faq-title {
    max-width: 575px;
    padding-bottom: 26px;
  }
  .fit {
    min-width: 575px;
  }
  .fit-tablet {
    width: 485px;
  }
}

.title-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.fit {
  width: 241px;
}
/* Descr */
.faq-descr {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

@media only screen and (min-width: 768px) {
  .faq-descr {
    width: 656px;
    height: 96px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-descr {
    padding-bottom: 0;
  }
}

/* Btn  */
.faq-acordeon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  padding: 7px;
}

.modal-btn-icon {
  fill: none;
  stroke: white;
}
@media only screen and (min-width: 768px) {
  .faq-acordeon-btn {
    padding: 10px;
  }
}

/* 1440 */
