.hero-container {
    padding-left: 16px;
    padding-right: 16px;
}

@media only screen and (min-width: 768px) {
    .hero-container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-container {
        width: 1440px;
        padding: 0 32px;
    }
}

.hero-section {
    height: 812px;
    display: flex;
    align-items: flex-end;
    background-image: url(../img/hero/hero_bg_mobile_1x.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero_bg_mobile_2x.webp);
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        background-image: url(../img/hero/hero_bg_tablet_1x.webp);
        height: 1024px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero_bg_tablet_2x.webp);
    }
}

@media only screen and (min-width: 1440px) {
    .hero-section {
        background-image: url(../img/hero/hero_bg_desktop_1x.webp);
        padding-bottom: 32px;
        padding-top: 32px;
        height: 900px;
    }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero_bg_desktop_2x.webp);
    }
}

.hero-name {
    max-width: 343px;
    margin-bottom: 212px;
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.animated-element.animation-scale.hero-name {
    opacity: 0;
        transform: scale(0);
        transition: opacity 2s, transform 2s;
}

@media only screen and (min-width: 768px) {
    .hero-name {
        max-width: 632px;
        font-size: 90px;
        line-height: 1;
        margin-bottom: 187px;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-name {
        max-width: 1084px;
        margin-bottom: 243px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-social-list {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .hero-social-list {
        gap: 8px;
    }
}

.hero-social-item>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    font-family: "Inter Tight";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.20);
    width: 37px;
    height: 37px;
    transition: transform 300ms ease-in-out;
}

.hero-social-item>a:hover,
.hero-social-item>a:focus {
    border: 1px solid #fff;
    transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
    .hero-social-item>a {
        font-size: 16px;
        line-height: normal;
        width: 55px;
        height: 55px;
    }
}

.hero-social-item.hero-email>a {
    width: 178px;
    padding: 10px 12px;
}

@media only screen and (min-width: 768px) {
    .hero-social-item.hero-email>a {
        width: 225px;
        padding: 18px 24px;
    }
}

@media (max-width: 367.98px) {
    .hero-social-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}