.projects-swiper-container {
  margin-top: 32px;
}

.projects-swiper-slide {
  border-radius: 24px;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  .projects-swiper-slide {
    display: flex;
    flex-direction: row;
  }
}

.projects-white-side {
  background-color: #fafafa;
  padding: 32px 32px 32px 32px;
}

@media only screen and (min-width: 768px) {
  .projects-white-side {
    padding: 64px 136px 64px 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-white-side {
    padding-right: 122px;

    width: 50%;
  }
}

.projects-tech-list {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;

  color: #1c1d20;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;

  margin-bottom: 96px;
}

@media only screen and (min-width: 768px) {
  .projects-tech-list {
    margin-bottom: 164px;

    gap: 6px;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-tech-list {
    margin-bottom: 223px;
  }
}

.projects-tech-item {
  padding: 12px 17px;

  line-height: normal;

  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);
}

@media only screen and (min-width: 768px) {
  .projects-tech-item {
    padding: 17px 17px;
  }
}

.projects-slide-title {
  color: #1c1d20;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.03em;

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .projects-slide-title {
    font-size: 44px;
    line-height: 1;
    letter-spacing: -0.03px;
  }
}

.projects-slide-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 45px;
  padding: 13px 32px;
  border-radius: 60px;
  background: #ed3b44;
  color: #FAFAFA;
  letter-spacing: -0.02em;


}

.projects-slide-link:hover,
.projects-slide-link:focus {
  background: #e0373f;
}

@media only screen and (min-width: 768px) {
  .projects-slide-link {
    padding: 18px 50px;
    width: 177px;
    height: 55px;
  }
}

.projects-dark-side {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 16px;

  background-color: #242527;
}

@media only screen and (min-width: 768px) {
  .projects-dark-side {
    padding: 120px 45px;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-dark-side {
    padding: 120px 37px;

    width: 50%;
  }
}

.projects-img {
  width: 311px;
  height: 195px;
}

@media only screen and (min-width: 768px) {
  .projects-img {
    width: 614px;
    height: 385px;
  }
}

.projects-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .projects-button-wrapper {
    gap: 20px;

    margin-top: 64px;
  }
}

.projects-button-prev {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);

  fill: none;
  stroke: #3b3b3b;
}

@media only screen and (min-width: 768px) {
  .projects-button-prev {
    padding: 18px;
  }
}

.projects-button-next {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);

  fill: none;
  stroke: white;
}

@media only screen and (min-width: 768px) {
  .projects-button-next {
    padding: 18px;
  }
}

.projects-button-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .projects-button-icon {
    width: 32px;
    height: 32px;
  }
}