/* .rewiews-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
} */

.reviews-list {
    display: flex;
    padding: 32px 24px;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
}


@media screen and (min-width: 320px) {
    .rewiews-conteiner {
        display: block;
    }
}

@media screen and (min-width: 375px) {
.rewiews-conteiner {
    width: 343px;
    align-items: flex-start;

}
}

@media screen and (min-width: 768px) {
    .rewiews-conteiner {
        width: 704px;
    }  
}

@media screen and (min-width: 1440px) {
    .rewiews-conteiner {
        display: inline-flex;

    }  
}

.rewiews-title {
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.rewiews-list-wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
}

.reviews-list li:nth-child(1n+5) {
    display: none;
}


@media only screen and (max-width: 767.98px) {
    .reviews-list li:nth-child(1n+2) {
        display: none;
    }
}

@media only screen and (max-width: 1439.98px) {
    .reviews-list li:nth-child(1n+3) {
        display: none;
    }
}

.rewiews-list-element {
    display: flex;
    width: 332px;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    border-radius: 20px;
    border: 1px solid rgba(250, 250, 250, 0.20);
}

.rewiews-element-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    letter-spacing: -0.4px;

    color: #FAFAFA;
}

.rewiews-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.32px;

    color: rgba(250, 250, 250, 0.60);
}

.rewiews-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .rewiews-button-div {
        gap: 20px;
    }   
}

.rewiews-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.5);

    fill: none;
    stroke: white;

    padding: 14px;
}

@media screen and (min-width: 768px) {
    .rewiews-button {
        padding: 18px;
    }   
}

/* .forward-button {
    stroke: #3B3B3B;
    border: 1px solid rgba(250, 250, 250, 0.2);
} */

.back-button {
    stroke: #3B3B3B;
    border: 1px solid rgba(250, 250, 250, 0.2);
} 

.rewiews-button-icon {
    width: 24px;
    height: 24px;
    stroke: white;
}

@media screen and (min-width: 768px) {
    .rewiews-button-icon {
        width: 32px;
        height: 32px;
    }   
}